<!--

    Licensed to Jasig under one or more contributor license
    agreements. See the NOTICE file distributed with this work
    for additional information regarding copyright ownership.
    Jasig licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file
    except in compliance with the License. You may obtain a
    copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on
    an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
    KIND, either express or implied. See the License for the
    specific language governing permissions and limitations
    under the License.

-->

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:property-placeholder location="classpath:configuration.properties"/>
    <context:annotation-config/>

    <!-- Message source for this context, loaded from localized "messages_xx" files -->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
        p:basenames="messages" p:useCodeAsDefaultMessage="true"/>

    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <property name="requestFactory">
            <bean class="org.springframework.http.client.CommonsClientHttpRequestFactory">
                <property name="httpClient" ref="httpClient" />
            </bean>
        </property>
        <property name="messageConverters">
            <util:list>
                <bean class="org.springframework.http.converter.xml.Jaxb2RootElementHttpMessageConverter"/>
                <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
            </util:list>
        </property>
    </bean>
    
    <bean class="org.jasig.portlet.courses.service.UPortalURLServiceImpl"/>

    <bean class="org.jasig.portlet.courses.dao.CachingCoursesDao">
        <property name="enclosedCoursesDao">
            <bean class="org.jasig.portlet.courses.dao.MergingCoursesDaoImpl"
                p:courseDaos-ref="courseDaos"/>
        </property>
        <property name="termListCache">
            <bean class="org.springframework.cache.ehcache.EhCacheFactoryBean"
                p:cacheManager-ref="cacheManager" p:cacheName="termListCache"/>        
        </property>
        <property name="coursesByTermCache">
            <bean class="org.springframework.cache.ehcache.EhCacheFactoryBean"
                p:cacheManager-ref="cacheManager" p:cacheName="coursesByTermCache"/>        
        </property>
    </bean>

    <bean id="termCodeParameterEvaluator" class="org.jasig.portlet.courses.util.TermCodeParameterEvaluator"/>
    <bean id="userLoginIdParameterEvaluator" class="org.jasig.portlet.courses.util.UserAttributeParameterEvaluator" p:userAttributeKey="user.login.id"/>
    <!--<bean id="passwordParameterEvaluator" class="org.jasig.portlet.courses.util.UserAttributeParameterEvaluator" p:userAttributeKey="password"/>-->
    <bean id="passwordParameterEvaluator" class="org.jasig.portlet.courses.util.StringLiteralParameterEvaluator" p:value="admin"/>

    <util:list id="courseDaos">
        <!--<bean class="org.jasig.portlet.courses.dao.xml.MockCoursesDaoImpl" p:mockData="classpath:/mock-data/mock-course-summary.xml"/>-->
        <!-- Uncomment this bean to retrieve the terms and course data from an HTTP XML resource
             The XML is expected to follow the same schema as the mock-course-summary.xml file. -->

        <bean class="org.jasig.portlet.courses.dao.xml.HttpClientCoursesDaoImpl" p:restTemplate-ref="restTemplate">
            <property name="termsUrlFormat" value="http://localhost/courses/CoursesPortletTermFeed.xml"/>
            <property name="coursesUrlFormat" value="http://localhost/courses/CoursesPortletFullFeed_{user.id}_{term.code}.xml"/>
            <property name="urlParams">
                <util:map key-type="java.lang.String" value-type="org.jasig.portlet.courses.util.IParameterEvaluator">
                    <entry key="user.id" value-ref="userLoginIdParameterEvaluator"/>
                    <entry key="term.code" value-ref="termCodeParameterEvaluator"/>
                </util:map>
            </property>
            <property name="usernameEvaluator" ref="userLoginIdParameterEvaluator"/>
            <property name="passwordEvaluator" ref="passwordParameterEvaluator"/>
        </bean>

    </util:list>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
        p:configLocation="classpath:/ehcache.xml"/>

    <bean id="courseCatalogCache" class="org.springframework.cache.ehcache.EhCacheFactoryBean"
        p:cacheManager-ref="cacheManager" p:cacheName="courseCatalogCache"/>
        
    <bean class="org.jasig.portlet.courses.dao.xml.HttpClientCourseOfferingDaoImpl"
        p:cache-ref="courseCatalogCache" 
        p:courseListUrl="http://localhost:8080/CoursesPortlet/data/courses/{department}.xml" 
        p:departmentListUrl="http://localhost:8080/CoursesPortlet/data/departments/{school}.xml" 
        p:schoolListUrl="http://localhost:8080/CoursesPortlet/data/schools.xml" 
        p:termListUrl="http://localhost:8080/CoursesPortlet/data/terms.xml" 
        p:courseUrl="http://localhost:8080/CoursesPortlet/data/courses/{course}.xml"/>

    <bean id="viewSelector" class="org.jasig.portlet.courses.mvc.ThemeNameViewSelectorImpl"/>

    <bean id="jspViewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver"
        p:order="10" p:cache="true"
        p:viewClass="org.springframework.web.servlet.view.JstlView"
        p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />
        
  
    <!-- 
     | XML view resolver for JSON view
     +-->
    <bean id="xmlViewResolver" class="org.springframework.web.servlet.view.XmlViewResolver">
        <property name="order" value="1"/>
        <property name="location" value="/WEB-INF/context/views/mvcViews.xml"/>
    </bean>
        
    <bean id="defaultPortletExceptionHandlerTemplate" class="org.springframework.web.portlet.handler.SimpleMappingExceptionResolver">
        <property name="warnLogCategory" value="org.jasig.portlet.courses.UnhandledException" />
        <property name="exceptionMappings">
            <props>
                <prop key="org.springframework.security.AccessDeniedException">noEmplId</prop>
            </props>
        </property>
        <property name="defaultErrorView" value="mycourses/gradesUnavailable"/>
    </bean>

    <bean id="httpConnectionManager" class="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager" destroy-method="shutdown">
        <property name="params">
            <bean class="org.apache.commons.httpclient.params.HttpConnectionManagerParams">
                <property name="defaultMaxConnectionsPerHost" value="200" />
                <property name="maxTotalConnections" value="1000"/>
            </bean>
        </property>
    </bean>

    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
        <constructor-arg ref="httpConnectionManager" />
    </bean>
</beans>