/**
 * Licensed to Jasig under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Jasig licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at:
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on
 * an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.degree-progress .fl-flex-2 {
    overflow: hidden;
    min-width: 1000px;
    max-width: 1980px;
}

.degree-progress .fl-col.one {
    margin-right: 20px;
    width:30%;
}

.degree-progress .fl-col.two {
    width:65%;
}

.degree-progress table tr td:first-child {
    padding-left: 0;
}

.degree-progress .fl-col.two table {
    margin-bottom: 0;
}

.degree-progress .courses-not-used {
    padding-top: 0px;
    padding-left: 20px;
    padding-bottom: 0px;
    padding-right: 20px;
    width: 100%;
}

.degree-progress .requirement {
    padding-top: 0.5em;
    padding-left: 20px;
    padding-bottom: 0.5em;
    padding-right: 20px;
    width: 100%;
    border-bottom: 1px solid #B79C58;
}

.degree-progress .requirement-description {
	font-weight:bold;
	font-size:13px;
}

.degree-progress .requirements-message {
    border: 1px solid #524115;
    color: #0000000;
    padding: 10px;
    display: block;
    width: 280px;
    background: #F2EBDA;
}

.degree-progress .requirement.last {
    border: none;
}

.degree-progress .requirement p {
    width: 100%;
    font-family: georgia, serif;
    font-style: italic;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 0;
}

.degree-progress h2 {
    margin-bottom: 7px;
}

.degree-progress h3 {
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #dfd3b5;
    color: #524115;
    width: 100%;
}

.degree-progress h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.degree-progress h4 span {
    font-weight: normal;
}

.degree-progress h4.incomplete, .degree-progress h4.complete {
    margin-left: -20px;
}

.degree-progress tr {
    position: relative;
    margin-left: -0.5em;
}

.degree-progress td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.degree-progress dl {
    margin: 0;
    overflow: hidden;
    line-height: 28px;
}

.degree-progress dl dt {
    color: #7f6629;
    font-family: georgia, serif;
    font-style: italic;
    width: 150px;
    float: left;
    clear: both;
}

.degree-progress dl dd {
    float: left;
    margin-left: 0;
    width:150px;
}

.degree-progress dl dd.incomplete {
    margin-left: 0px;
}

.degree-progress dl dd span {
    display: inline-block;
    width: 40px;
    zoom: 1;
    *display: inline;
}

.degree-progress .incomplete { 
    color: #e62b2d !important; 
    font-weight: bold;
}

.degree-progress .bar {
    border: 1px solid #524115;
    height: 10px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.degree-progress .bar .progress {
    display: block;
    background-color: #dfd3b5;
    height: 10px;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
}

#progressbar {
    width:300px;
    height:15px;
}
.degree-progress .in-progress {
	color:#DEA300;
	font-weight: bold;
	width:20%;
}

.degree-progress p.incomplete{
	font-weight:bold;
	padding-left: 20px;
}

.degree-progress p.complete{
	font-weight:bold;
	padding-left: 20px;
}

.degree-progress .courseNumber{
	width:15%;
}

.degree-progress .courseTitle{
	width:45%;
}

.degree-progress .displayName{
	width:15%;
}

.degree-progress .credits{
	width:5%;
}

.degree-progress .code{
	width:5%;
}

.degree-progress .source{
	width:20%;	
}

.degree-progress .programText {
	font-size:1.0em;
	color:#FF0000;
	font-weight:bold;
}

.largeAlert {
	font-size:1.3em;
	color:#FF0000;
	font-weight:bold;
}