/**
 * Licensed to Apereo under one or more contributor license
 * agreements. See the NOTICE file distributed with this work
 * for additional information regarding copyright ownership.
 * Apereo licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License.  You may obtain a
 * copy of the License at the following location:
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 /* ----  gradient background  ------------------- */
.GradesPortlet .fg_top_gradient_bar_1 {
	background: #990000;
	font-weight: bold;
	color: #F8F8F8;
	cursor: pointer;
	text-shadow: 0 -1px 1px #000;
	text-decoration: none;
	background-image: -moz-linear-gradient(top, #990000, #cc0000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #990000),
		color-stop(1, #cc0000) );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#990000', EndColorStr='#cc0000')";
	padding-bottom: 5px;
}

/* ----  main container for header grades footer  ------------------- */
.GradesPortlet .main_outer_box {
	min-width: 0;
	max-width: auto;
	min-hight: 0;
	max-hight: auto;
	padding: 0;
	/*border: 1px solid red;*/
	margin: 0;
	top: 0;
	position: relative;
}
/* ----  main container for header grades footer  ------------------- */

/* ----  shared  ---------------------------------------------------- */
.GradesPortlet .left {
	float: left;
}

.GradesPortlet .clear_left {
	clear: left;
}

.GradesPortlet .margin_left {
	margin-left: .5em;
}
/* ----  shared  ---------------------------------------------------- */

/* ----  header  ---------------------------------------------------- */
/* .margin_left  ==>shared  */
/* .left  ==>shared  */
/* .clear_left  ==>shared  */
.GradesPortlet .font_style {
	font-size: 1.10em;
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: 0 -1px 1px black;
	padding-top: 7px;
}

.GradesPortlet .top_box {
	font-weight: bold;
	min-width: 0px;
	max-width: 400px;
	min-height: 0px;
	max-height: 60px;
	background-color: transparent;
}

.GradesPortlet .margin_bottom {
	margin-bottom: 2em;
}

.GradesPortlet .header_style {
	margin-bottom: 10px;
	width: 180px;
	min-height: 0px;
	max-height: 25px;
	background-color: transparent;
}

.GradesPortlet .term_selection {
	margin-bottom: 10px;
	width: 100px;
	min-height: 0px;
	max-height: 25px;
	background-color: transparent;
}

.GradesPortlet .box_top_line {
	min-width: 0px;
	max-width: 400px;
	min-height: 0px;
	max-height: 60px;
	background-color: transparent;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #E7D9C1;
	margin-bottom: 20px;
}
/* ----  header  ---------------------------------------------------- */

/* ----  grades  ---------------------------------------------------- */
/* .margin_left  ==>shared  */
/* .left  ==>shared  */
.GradesPortlet .padding_bottom {
	padding-bottom: 60px;
}

.GradesPortlet .top {
	min-width: 0px;
	max-width: 400px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .fg_outer_width {
	min-width: 0px;
	max-width: 400px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .school_outer_width {
	width: 175px;
	height: auto;
	background-color: transparent;
	position: absolute;
}

.GradesPortlet .fg_school {
	font-weight: bold;
	width: auto;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .fg_course_code {
	width: 50px;
	height: auto;
	padding-left: 1.25em;
	background-color: transparent;
}

.GradesPortlet .fg_grade {
	font-weight: bold;
	left: 200px;
	width: 40px;
	height: auto;
	padding-right: 1.25em;
	background-color: transparent;
	position: relative;
}

.GradesPortlet .fg_credits {
	left: 200px;
	width: 60px;
	height: auto;
	padding-right: 1.25em;
	background-color: transparent;
	position: relative;
}

.GradesPortlet .fg_course_title {
	width: 300px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .clear_both {
	clear: both;
}

/* ----  grades  ---------------------------------------------------- */

/* ----  footer  ---------------------------------------------------- */
/* .margin_left  ==>shared  */
/* .left  ==>shared  */
/* .clear_left  ==>shared  */
.GradesPortlet .final_grades_bottom_bar {
	border-color: #ac0809;
	background: #EFE8D8;
	color: white;
	text-shadow: 0 -1px 1px black;
	background-image: -moz-linear-gradient(top, #cc0000, #660000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc0000),
		color-stop(1, #660000) );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#cc0000', EndColorStr='#660000')"
}

.GradesPortlet .footer_position {
	margin-top: 0px;
	bottom: 0px;
	position: fixed;
}

.GradesPortlet .box_credits_gpa {
	min-width: 0px;
	max-width: 400px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .box_credits {
	width: 160px;
	height: auto;
	background-color: transparent;
	margin-top: 6px;
	margin-bottom: 6px;
}

.GradesPortlet .box_credits_text {
	width: 100px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .box_credits_numbers {
	width: 50px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .box_gpa {
	width: 150px;
	height: auto;
	background-color: transparent;
	margin-top: 6px;
	margin-bottom: 6px;
}

.GradesPortlet .box_gpa_text {
	width: 80px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .box_gpa_numbers {
	width: 50px;
	height: auto;
	background-color: transparent;
}

.GradesPortlet .box_bottom_line {
	min-width: 0px;
	max-width: 400px;
	min-height: 0px;
	max-height: 60px;
	background-color: transparent;
	border-top-style: solid;
	border-top-width: thin;
	border-top-color: #E7D9C1;
	margin-top: 10px;
}

/* ---------------------------------------------------- */
.GradesPortlet .font_weight_bold {
	font-weight: bold;
}
/* ----  footer  ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
.GradesPortlet .portlet .plt-courses .view-courses .title {
	color: red;
}

/* ---------------------------------------------------- */
.GradesPortlet .term_button {
	border-color: #143f27;
	background: #b69e8c;
	color: white;
	background-image: -moz-linear-gradient(top, #b69e8c, #785d51);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #b69e8c),
		color-stop(1, #785d51) );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='#b69e8c', EndColorStr='#785d51')"
}
/* ---------------------------------------------------- */
.GradesPortlet .courses_divide {
	border-color: #c3c3c3;
	border-top: 1px solid #c3c3c3;
	background: #00FF00;
	text-shadow: none;
	background-image: -moz-linear-gradient(top, 990000, #660000);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, 990000),
		color-stop(1, #660000) );
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorStr='990000', EndColorStr='#660000')";
	z-index: 1;
}
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
.GradesPortlet .margin_top {
	margin-top: 10px;
}

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
.GradesPortlet .footer_top_padding { /*padding-top: 15px;*/
	margin-top: 10px;
	padding-top: 15px;
}

.GradesPortlet .footer_bottom_padding { /*padding-bottom: 35px;*/
	padding-bottom: 15px;
}

.GradesPortlet .display_outer_box {
	display: box;
}

.GradesPortlet .box_space {
	min-width: 180px;
	max-width: 400px;
	height: auto;
}

.GradesPortlet .box_inner {
	min-width: 175px;
	max-width: 175px;
	height: auto;
}

.GradesPortlet .display_block {
	display: block;
}

.GradesPortlet .top_padding {
	padding-top: 1em;
}

.GradesPortlet .bottom_padding {
	padding-bottom: 1em;
}

/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

/* ---------------------------------------------------- */
.GradesPortlet .padding {
	padding: 8px;
}

.GradesPortlet .padding_left {
	padding-left: 16px;
}

.GradesPortlet .padding_right {
	padding-right: 8px;
}

.GradesPortlet .padding_right_cumulative {
	padding-right: 8px;
}

.GradesPortlet .padding_right_term {
	padding-right: 16px;
}

.GradesPortlet .clear_right {
	clear: right;
}

.GradesPortlet .right {
	float: right;
}

.GradesPortlet .background_color_term_gpa {
	background-color: #F7F5E8;
}

.GradesPortlet .border_term_gpa_box {
	border-style: none;
}

.GradesPortlet .background_color_term_credits {
	background: transparent;
}

.GradesPortlet .background_color_cum_credits {
	background-color: transparent;
}

.GradesPortlet .background_color_credits_gpa {
	background: transparent;
}

.GradesPortlet .background_color_cum_gpa {
	background-color: transparent;
}